body {
    min-width: 250px;
    margin: 0 auto;

    font-family: 'Lato', sans-serif;
    font-size: 18px;
}

@media only screen and (min-width: 760px) {
    body {
        width: 760px;
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: #ffff88;
}

/* Style the page-header */
#page-header {
    padding: 40px;

    background: linear-gradient(135deg, rgba(15, 11, 42, 1) 1%, rgba(93, 69, 181, 1) 55%, rgba(163, 95, 203, 1) 100%);
    color: white;

    font-size: 32px;
    text-align: center;
}

/* Clear floats after the page-header */
#page-header:after {
    clear: both;
    content: "";
    display: table;
}

h1 {
    padding: 20px;

    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Style the input */
input {
    float: left;

    width: 75%;
    margin: 0;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding: 10px;

    color: #764FBD;

    font-size: 18px;
    font-family: 'Lato', sans-serif;
}

::placeholder {
    opacity: 0.5;
}

/* Style all buttons - first is the "Add" button */
/*.btn-add*/
button {
    float: left;

    width: 25%;
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 9.5px;

    background: #764FBD;
    color: white;

    font-size: 18px;
    text-align: center;

    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #A35FCB;
}

#popup-edit-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    align-items: center;
    justify-content: center;

    width: 100%;

    background-color: rgba(0, 0, 0, 0.6)
}

#popup-div {
    position: relative;
    z-index: 3200;

    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-direction: column;

    width: 500px;
    height: 300px;

    background: white;
    color: #764FBD;
}


#popup-div button {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

#popup-div-edit-btn-close {
    display: flex;
    justify-content: flex-end;

    width: 100%;
}

#popup-edit-btn-close {
    width: 100px;
    height: 42px;
}


h2 {
    padding: 0 10px;

    font-size: 20px;
    font-weight: 700;
}

#popup-div input {
    width: 80%;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border: 1px solid;
    padding: 20px;
}

.popup-edit-btns {
    display: flex;
    justify-content: space-between;

    width: 400px;
    padding-bottom: 40px;
}

#popup-edit-btn-cancel {
    margin-left: 20%;

    background: #f44336;
}

#popup-edit-btn-cancel:hover {
    opacity: 0.7;
}

#popup-edit-btn-confirm {
    margin-right: 20%;

    background: #018C46;
}

#popup-edit-btn-confirm:hover {
    opacity: 0.7;
}

li {
    min-height: 42px;
}

ul li {
    position: relative;

    padding: 12px 8px 12px 40px;

    background: #eee;
    color: #764FBD;

    cursor: pointer;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ffff88;
}

/* When clicked on, add a background color and strike out text */
ul li.li-checked {
    background: #fff;
    color: #ddd;

    text-decoration: line-through;
}

/* Add a "li-checked" mark when clicked on */
ul li.li-checked::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;

    height: 15px;
    width: 7px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
}

/* Style buttons on the list */
.node-btns {
    display: inline;
    position: absolute;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.btn-span-edit {
    right: 43px;
}

.btn-span-close {
    right: 0;
}

.node-btns:hover {
    background-color: #764FBD;
    color: white;
}
