body {
    margin: 0 auto;
    min-width: 250px;

    font-family: 'Lato', sans-serif;
}

@media only screen and (min-width: 760px) {
    body {
        width: 760px;
    }
}

* {
    box-sizing: border-box;
}

::selection {
    background-color: #ffff88;
}

/* Style the header */
.header {
    padding: 40px;

    background: linear-gradient(135deg, rgba(15, 11, 42, 1) 1%, rgba(93, 69, 181, 1) 55%, rgba(163, 95, 203, 1) 100%);
    color: white;

    font-size: 32px;
    text-align: center;
}

/* Clear floats after the header */
.header:after {
    content: "";
    display: table;
    clear: both;
}

h1 {
    padding: 20px;

    font-weight: 700;

    text-transform: uppercase;
    letter-spacing: 5px;
}

/* Style the input */
input {
    float: left;

    width: 75%;
    padding: 10px;
    margin: 0;
    border: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

    color: #764FBD;

    font-size: 16px;
}

::placeholder {
    opacity: 0.5;
}


/* Style the "Add" button */
.addBtn {
    float: left;

    padding: 9px;
    width: 25%;
    border: 1px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;

    background: #764FBD;
    color: white;

    font-size: 16px;
    text-align: center;

    cursor: pointer;
    transition: 0.3s;
}

.addBtn:hover {
    background-color: #A35FCB;
}

ul li {
    position: relative;

    padding: 12px 8px 12px 40px;

    background: #eee;
    color: #764FBD;

    font-size: 18px;

    cursor: pointer;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
    background: #ffff88;
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
    background: #fff;
    color: #ddd;

    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 16px;

    height: 15px;
    width: 7px;
    border-color: #ddd;
    border-style: solid;
    border-width: 0 2px 2px 0;

    transform: rotate(45deg);
}
